<div class="content">
  <mat-toolbar class="mat-toolbar" color="primary">
    <mat-icon class="mat-icon">school</mat-icon>
    <p class="title">Application For Educational Institutions</p>
    <div class="spacer"></div>
    <a class="button" mat-button routerLink="/subjects" routerLinkActive="active">Subjects</a>
    <a class="button" mat-button routerLink="/groups" routerLinkActive="active">Groups</a>
    <a class="button" mat-button routerLink="/students" routerLinkActive="active">Students</a>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

