<form [formGroup]="editForm">
  <h2>Edit Subject</h2>
  <mat-dialog-content>
    <div class="form-container">
      <div class="mat-title"><label>Title:</label></div>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" placeholder="Enter Title">
        <mat-error *ngIf="editForm.controls['title'].invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="mat-buttons">
    <button mat-raised-button class="button" color="primary" type="submit" (click)="onSubmit()"
            [disabled]="!editForm.valid || editForm.controls['title'].value === data.title">Save
    </button>
    <button mat-raised-button class="button" color="primary" type="button" (click)="dialogRef.close()">Cancel</button>
  </mat-dialog-actions>
</form>
