.container {
  margin-right: 10%;
  width: 85%;
  height: 49.7%;
  margin-bottom: 33.5%;
  background-color: white;
}

.image {
  width: 50%;
  margin-top: 15%;
}

.mat-drawer-side {
  border-right: 0;
}

.details-container {
  width: 25%;
  height: 100%;
  margin-bottom: 33.5%;
  background-color: #e9e9e9;
}

.details-title {
  text-align: center;
}

.mat-icon {
  margin-top: 10px;
}

.student-info {
  margin-top: 30px;
  margin-left: 15%;
  width: 85%;
  text-align: left;
}

.mat-title {
  text-align: center;
  margin-right: 15%;
}

.mat-button-toggle {
  text-align: right;
  margin-right: 19%;
  margin-bottom: 2rem;
}

.mat-elevation-z8 {
  width: 76%;
  margin-left: 5%;
  margin-right: 0;
  margin-bottom: 20px;
}

.mat-paginator-container {
  width: 76%;
  margin-left: 5%;
  margin-right: 0;
  margin-bottom: 5%;
}

.mat-tab-header {
  background-color: #e9e9e9;
  width: 41%;
  text-align: center;
}

.mat-cell-buttons {
  text-align: center;
}

.main-button {
  width: 100%;
  text-align: left;
}

.mat-flat-button {
  text-align: left;
  width: 5%;
  margin-left: 0;
}

.button {
  text-align: center;
  margin-left: 23px;
}

.addButton {
  width: 10rem;
  text-align: center;
}

.mat-button-href {
  text-decoration-color: #e9e9e9;
  text-align: left;
  width: 100%;
}

.table-empty {
  text-align: center;
  width: 100%;
}

.no-data {
  text-align: center;
}

.actions-cell {
  display: flex;
  gap: 8px;
  padding-block: 8px;
  align-items: center;
}
